
.fullsize-background {
  width: 100%;
  height: 100vh;
  background: black;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -1;
  -webkit-transition-property: all;
  -webkit-transition: opacity 0.4s;
  transition-property: all;
  transition: opacity 0.4s;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  height: 50%;
  max-width: 900px;
  max-height: 650px;
  background-color: #EFEBD4;
  color: #867f52;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  -webkit-transition-property: all;
  -webkit-transition: all 0.4s;
  transition-property: all;
  transition: all 0.4s;
}

@media (max-height: 450px) {
  .modal {
      height: 100%;
      width: 100%;
  }

  .modal h3{
      margin: 40px 0 40px 0;
      width: 70%;
  }
}


.modal form,
input,
textarea {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #EFEBD4;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  -webkit-transition-property: all;
  -webkit-transition: opacity 0.4s;
  transition-property: all;
  transition: opacity 0.4s;
  font-size: 0.9em;
  border-style: none;
  outline: none;
  border-width: 3px;
  border-color: #b8ae71;
  border-radius: 0px;
}

textarea {
  background-color: #e9e1b5;
  resize: none;
}

.modal form {
  border-style: none;
}

.input-field {
  background-color: #e9e1b5;
  min-height: 30px;
  height: auto;
  box-shadow: inset 0 0 0 50px #e9e1b5;
}

::placeholder {
  color: #b1ad8e;
  opacity: 1;
  font-size: 1em
}

form {
  height: 80%;
}

.submit-wraper{
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.button{
  font-size: 1.2em;
  border-style: none;
  border-radius: 0px;
  background: #b8af7100;
  color: white;
  cursor: pointer;
}

.input-submit  {
  position: absolute;
  height: 50px;
  display: flex;
  width: 100%;
  cursor: pointer;
  background: #b8ae71;

  -webkit-box-shadow: 0px 10px 24px -7px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 10px 24px -7px rgba(0,0,0,0.42);
  box-shadow: 0px 10px 24px -7px rgba(0,0,0,0.42);

  -webkit-transition-property: all;
  -webkit-transition: all ease 0.2s;
  transition-property: all;
  transition: all ease 0.2s;
}

/* .input-submit:active {
  margin-top: 5px;
  -webkit-box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.42);
  box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.42);
} */

.input-submit:hover {
  margin-top: 5px;
  background-color: #817941;
}

.thanks{


  position: absolute;
  width: 90%;
  opacity: 0;

  -webkit-transition-property: all;
  -webkit-transition: all ease 0.4s;
  transition-property: all;
  transition: all ease 0.4s;
}

.formwraper{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;

  -webkit-transition-property: all;
  -webkit-transition: all ease 0.4s;
  transition-property: all;
  transition: all ease 0.4s;
}

@media (max-height: 450px) {

  .modal form,
  input,
  textarea {
    width: 100%;
    height: 50px;
    flex-direction: row;
    margin: 0 5px;
    min-height: 90px;
  }

  .input-field {
    min-height: 90px;
    height: auto;
  }
}



@media (max-width: 450px) {

  .modal{
      width: 100vw;
      height: 100vh;
      max-height: none;
      justify-content: inherit;
  }

  .modal form {
      height: 40%;
      width: 100%;
  }
}