.advantage-container{
    /* margin: 20px 0 20px 0; */
    position: relative;
    display: flex;
    flex-direction: row;
}

.advantages{
    margin: 20px 0 20 px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    max-height: 700px;
    min-width: 40%;
    justify-content: space-between;
    align-items:flex-start;
}

.advantage {
    cursor: pointer;
    margin: 0;
}

.active-advantage {
    color: brown;
    text-decoration: underline;
}

.description {
    margin-left: 40px;
    transition: opacity 0.3s;
}