.gallery-img {
    width: 100%;
    display: block;
    cursor: pointer;
}

.fullsize-wraper{
    top: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    left: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

.fullsize-background {
    width: 100%;
    height: 100vh;
    background: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.fullsize-img {
    width: auto;
    max-width: 90%;
    max-height: 90%;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.cross-container{
    position: absolute;
    display: flex;
    top: 7%;
    left: calc(50% - 45px);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    align-items: center;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;

}

.cross-container:hover{
    background-color: rgba(0, 0, 0, 0.449);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.closeCross {
    position: absolute;
    opacity: 0.8;
    left: calc(50% - 20px);
    height: 40px;
    width: 40px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-filter: drop-shadow(0px 2px 1px rgb(161, 161, 161));
    filter: drop-shadow(0px 2px 1px rgb(161, 161, 161));
}

.cross-container:hover .closeCross{
    opacity: 1;
    -webkit-transition: opacity all linear 0.3s;
    transition: opacity all linear 0.3s;
}

.previous-arrow {
    height: 30px;
    position: absolute;
    left: 20px;
    cursor: pointer;
    transform: rotate(90deg);
}

.next-arrow {
    height: 30px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    transform: rotate(270deg);
}

.previous-arrow-container{
    position: absolute;
    display: flex;
    height: 100%;
    width: 10%;
    min-width: 100px;
    left: 0;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.previous-arrow-container:hover{
    background-color: rgba(0, 0, 0, 0.449);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}


.next-arrow-container{
    position: absolute;
    display: flex;
    height: 100%;
    width: 10%;
    min-width: 100px;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.next-arrow-container:hover{
    background-color: rgba(0, 0, 0, 0.449);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
