.wallpaper-wraper {
    display: flex;
    flex-direction: column;
    height: 550px;
    margin: 40px 0 20px 0;
    color: white;
    justify-content: space-between
}

.wallpaper-wraper img {
    position: absolute;
    left: -300px;
    width: 1400px;
    height: 550px;
    object-fit: cover;
    z-index: -2;
}

.gradient {
    position: absolute;
    left: -300px;
    width: 1400px;
    height: 550px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 20%, rgba(0,0,0,0.3508753843334209) 43%, rgba(0,0,0,0.45451684091605393) 57%, rgba(0,0,0,0.5749650201877626) 75%, rgba(0,0,0,0.6533963927367823) 90%);
    z-index: -1;
}

.wallpaper-wraper h1{
    display: flex;
    margin: 0 0 10px 0;
    font-size: xxx-large;
    justify-self: end;
    width: 70%;
    font-weight: 900;
}

.greating-slogan{
    display: flex;
    width: 70%;
    text-align: right;
    align-self: flex-end;
    margin: 20px 0 40px 0;
    font-size: 2.3em;
}


