.wallpaper-wraper {
    display: flex;
    flex-direction: column;
    height: 550px;
    margin: 0 20px 20px 20px;
    color: white;
    justify-content: space-between
}

.wallpaper-wraper img {
    position: absolute;
    display: flex;
    align-self: center;
    width: 1400px;
    height: 550px;
    object-fit: cover;
    z-index: -2;    
    max-width: 97vw;
}

.gradient {
    position: absolute;
    display: flex;
    align-self: center;
    width: 1400px;
    max-width: 97vw;
    height: 550px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 20%, rgba(0,0,0,0.3508753843334209) 43%, rgba(0,0,0,0.45451684091605393) 57%, rgba(0,0,0,0.5749650201877626) 75%, rgba(0,0,0,0.6533963927367823) 90%);
    z-index: -1;
}

.greating-slogan{
    display: flex;
    width: 70%;
    text-align: right;
    align-self: flex-end;
    margin: 20px 0 40px 0;
    font-size: 2em;
}

@media (max-height: 450px) { 
    .wallpaper-wraper img,
    .gradient {
        height: 400px;
    }

    .greating-slogan{
        font-size: 1.6em;
    }
    
    .wallpaper-wraper {
        height: auto;
    }
 }

