.button-wrap p {
    margin: 0;
}

.button-wrap {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    border-width: 3px;
    width: 300px;
    justify-content: center;
    align-self: center;
    text-align: center;
    min-height: 50px;
    align-items: center;
    background-color: #7BC085;
    color: white;
    box-shadow: -1px 26px 28px -23px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -1px 26px 28px -23px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 26px 28px -23px rgba(0, 0, 0, 1);
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition: all ease 0.5s;
    transition-property: all;
    transition: all ease 0.5s;
}

.button-wrap p {
    color: white;
}

.button-wrap:hover {
    background-color: #857f59;
}

.principle-wrap {
    display: flex;
    justify-content: space-between;
}

.principle-wrap .principle-p {
    margin: 0;
}

.fullsize-background {
    width: 100%;
    height: 100vh;
    background: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;
    -webkit-transition-property: all;
    -webkit-transition: opacity 0.4s;
    transition-property: all;
    transition: opacity 0.4s;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    height: 50%;
    background-color: #EFEBD4;
    color: #867f52;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    -webkit-transition-property: all;
    -webkit-transition: opacity 0.4s;
    transition-property: all;
    transition: opacity 0.4s;
}

.cross-container {
    position: absolute;
    display: flex;
    top: 7%;
    left: calc(50% - 35px);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    align-items: center;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;

}

.cross-container:hover {
    background-color: rgba(0, 0, 0, 0.449);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.closeCross {
    position: absolute;
    opacity: 0.8;
    left: calc(50% - 20px);
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-filter: drop-shadow(0px 2px 1px rgb(161, 161, 161));
    filter: drop-shadow(0px 2px 1px rgb(161, 161, 161));
}

.cross-container:hover .closeCross {
    opacity: 1;
    -webkit-transition: opacity all linear 0.3s;
    transition: opacity all linear 0.3s;
}

@media (max-height: 450px) {
    .modal {        
        height: 100%;
        width: 100%;
    }

    .modal h3{
        margin: 40px 0 40px 0;
        width: 70%;
    }

    .modal-form .cross-container {
        height: 50px;
        width: 50px;
        left: 90%;
        top: 5%;
        /* background-color: rgba(0, 0, 0, 0.449); */
    }
    
    .modal-form .closeCross {
        left: calc(50% - 15px);
        height: 30px;
        width: 30px;
        
    -webkit-filter: drop-shadow(0px 2px 1px rgb(161, 161, 161));
    filter: drop-shadow(0px 2px 1px rgb(161, 161, 161));
    }
}

@media (max-width: 450px) {

    .principle-wrap {
        flex-direction: column;
    }

    .button-wrap{
        margin-top: 10px;
    }

    .modal{
        width: 100vw;
        height: 100vh;
        justify-content: inherit;
    }

    .modal form {
        height: 40%;
        width: 100%;
    }

    .cross-container{
        top: 5px;
    }
}