.button-wrap p {
    margin: 0;
}


.button-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    border-width: 3px;
    width: 300px;
    justify-content: center;
    align-self: center;
    text-align: center;
    min-height: 50px;
    align-items: center;
    color: white;
    box-shadow: -1px 26px 28px -23px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -1px 26px 28px -23px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 26px 28px -23px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.button-wrap p {
    color: white;
}

.hover-feature{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7BC085;
    -webkit-transition-property: all;
    -webkit-transition: all ease 0.3s;
    transition-property: all;
    transition: all ease 0.3s;
}

.hover-feature:hover {
    margin-top: 5px;
    background-color: #857f59;
}

.principle-wrap {
    display: flex;
    justify-content: space-between;
}

.principle-wrap .principle-p {
    margin: 0;
}


@media (max-width: 450px) {

    .principle-wrap {
        flex-direction: column;
    }

    .button-wrap{
        margin-top: 10px;
    }
}