.queue-window-wraper{
    display: flex;
    position: relative;
    height: 500px;
    overflow: hidden;
}

.next{
    position: absolute;
}
.queue-list {
    margin: 0;
    padding: 0;
    display: flex;
    height: 50px;
    color: #7BC085;
    justify-content: space-around;
    align-items: center;
}

.select {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: 400;
    border-color: #7bc08500;
    border-top-style: solid;
    -webkit-transition-property: all;
    -webkit-transition: border-color 0.3s;
    transition-property: all;
    transition: border-color 0.3s;
    font-size: 1.3em;
    color: #b7ad72;;
}

.active-select {
    border-color: #7BC085;
    color: #525252;
    -webkit-transition-property: all;
    -webkit-transition: border-color 0.3s;
    transition-property: all;
    transition: border-color 0.3s;
}

.queue-window {
    display: flex;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    -webkit-transition-property: all;
    -webkit-transition: all 0.3s ease 0s;
    transition-property: all;
    transition: all 0.3s ease 0s;
}

.queue-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.blacking {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.497);
    height: 500px;
    width: 100%;
    
    -webkit-transition-property: all;
    -webkit-transition: all 0.5s;
    transition-property: all;
    transition: all 0.5s;
}

.queue-description {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10px;
    margin: 20px 40px 0 40px;
}

.title-pad-wraper{
    -webkit-transition-property: all;
    -webkit-transition: all 0.3s ease 0s;
    transition-property: all;
    transition: all 0.3s ease 0s;
    position: relative;
}

.title-pad {
    background-color: #7BC085;
    width: fit-content;}

/* .prev {
    position: absolute;
    top: 0;
    left: 0;
}

.prev .title-pad {
} */

.title-pad p {
    font-weight: 700;
    font-size: 2em;
    padding-left: 10px;
    padding-right: 10px;
}

.queue-description p {
    color: white;
    margin-top: 10px;
    margin-bottom: 0;
    width: fit-content; 
}


.queue-subdescription{
    -webkit-transition-property: all;
    -webkit-transition: all 0.5s;
    transition-property: all;
    transition: all 0.5s;
}

.queue-subdescription p {
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 1.2em;
    width: 90%;

    -webkit-transition-property: all;
    -webkit-transition: all 0.5s;
    transition-property: all;
    transition: all 0.5s;
}


.details {
    margin-top: 25px;
    margin-left: 50px;
    min-height: 220px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    -webkit-transition-property: all;
    -webkit-transition: all 0.5s;
    transition-property: all;
    transition: all 0.5s;
}

.details p {
    margin: 0 50px 0 0;
}

.detail-item {
    display: flex;
    margin-right: 5px;
}

/* .detail-item img {
    height: 35px;
    fill: white;
    margin-right: 5px;
} */


@media (max-height: 450px) {

    .queue-image,
    .blacking {
        height: 250px;
    }

    .queue-subdescription p,
    .details {
        font-size: 0.8em;
        margin: 10px 20px 5px 15px;
    }

    .details .detail-item p {
        margin: 0 0 3px 0;
        font-size: 0.8em;
    }

    .details {
        min-height: 100px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }


    .queue-description {
        flex-direction: row;
    }

    .title-pad {
        width: 190px;
    }
}

@media (max-width: 650px) {

    .subtitle p:nth-child(3) {
        margin: 0 0 -30px -40%;
    }

    .subtitle {
        margin: 30px 0 70px 0;
    }

    .select{
        margin: 0 20px;
    }
    .queue-list{
        margin-bottom: 20px;
    }

    .queue-subdescription p {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
        font-size: 0.8em;
    }

    .details {
        margin: 20px 0;
        min-height: auto;
    }
    
    .queue-subdescription .detail-item p {
        margin: 0;
        font-size: 0.8em;
    }

}
