.nav-liner{
    position: absolute;
    top:0;
    display: block;
    align-self: center;
    width: 1400px;
    height: 50px;
    background-color: white;
    z-index: 2;
    max-width: 100vw;
    object-fit: cover;

    /* position: absolute;
    display: flex;
    align-self: center;
    width: 1400px;
    height: 550px;
    object-fit: cover;
    z-index: -2;
    max-width: 97vw; */

}

.nav-container {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */
}

.nav-container-fix{
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    
}

.header{
    position: relative;
}

.header-fix {
    position: relative;
    display: flex;
    flex-direction: row;
    
}

.nav-container a {
    text-decoration: none;
}

.item {
    background-color: #7bc08500;
    display: flex;
    justify-content: center;
    height: 30px;
    width: inherit;
    cursor: pointer;
    align-items: center;
    color: #7BC085;
}

.item:hover{
    background-color: #95c29c4a;
    transition: background-color 0.3s;
}

.active {
    display: flex;
    justify-content: center;
    height: 30px;
    width: inherit;
    cursor: pointer;
    align-items: center;
    color: #7BC085;
    background-color: #7BC085;
    color: white;
    transition-property: all;
    transition: background-color 0.3s;
}