.nav-container {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */
}

.nav-container a {
    text-decoration: none;
}

.item {
    background-color: #7bc08500;
    display: flex;
    justify-content: center;
    height: 30px;
    width: inherit;
    cursor: pointer;
    align-items: center;
    color: #7BC085;
}

.item:hover{
    background-color: #95c29c4a;
    transition: background-color 0.3s;
}

.active {
    display: flex;
    justify-content: center;
    height: 30px;
    width: inherit;
    cursor: pointer;
    align-items: center;
    color: #7BC085;
    background-color: #7BC085;
    color: white;
    transition-property: all;
    transition: background-color 0.3s;
}