/* @font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter-VariableFont_slnt,wght.eot');
	src: local('☺'), 
        url('./fonts/Inter-VariableFont_slnt,wght.woff') format('woff'), 
        url('./fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype'), 
        url('./fonts/Inter-VariableFont_slnt,wght.svg') format('svg');
	font-weight: 900;
	font-style: normal;
} */