.contacts-wrap{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content:space-around;
    height: 250px;
    align-items: center;
    background-color: #EFEBD4;
    text-align: center;
}
 
.contacts-wrap h2{
    margin: 25px 0 25px 0;
    /* font-size: medium; */
    font-size: 1em;
    font-weight: 500;
}

.contacts-wrap p{
    margin: 7px 0 7px 0;
    /* font-size: medium; */
    font-size: 1em;
    font-weight: 500;
}


